#banner{
    color: white;
    background-image: url(../img/background.jpg);
    background-size: cover;
    min-height: 500px;
    padding: 150px 0;
}
#banner h1{
    font-size: 80px;
}
#banner span{
    font-size: 40px;
    color: grey;
}
#perguntas{
    background-color: rgb(171, 164, 164);
    min-height: 400px;
    padding: 90px;
}
#cursos{
    padding: 80px;
}
#contatos{
    background-color: black;
    min-height: 400px;
    color: white;
}
#contatos h2{
    margin-top: 20px;
}
#contatos img{
    width: 200px;
    height: 100px;
}